{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>                
        <meta charset="utf-8">        
        <title>#1 On Demand Cake Delivery in Mumbai and Thane For Bakers- My Cake Box</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="#1 On Demand Cake Delivery in Mumbai and Thane For Bakers. As a delivery system designed for bakers we believe that bakery products need that extra care for delivery. By combining the expertise of delivery personnels with the managerial qualities of administrators we provide achievable results.">
        <meta name="keywords" content="cake, delivery, mumbai, and, thane, on, demand for bakers">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="google-site-verification" content="JkmfJXsdRADJrTq_FZNqnigOf2DurFNxw499rIxkePc" />
        <!-- favicon -->  
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        <!-- google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900%7CMerriweather:400,400italic,300,300italic,700,700italic' rel='stylesheet' type='text/css'>
        {% block extra_css %}
          {% include 'all_css.html' %}
        {% endblock %}
        <!--[if lt IE 9]>
            <script type="text/javascript" src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-91408244-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>    
  <body>

  <!-- preloader -->
  <div id="pre-loader">
    <div class="pre-loader-container">
        <h2 class="section-title text-center preload-logo wow bounceIn">
          <span class="section-title-border">MY CAKE BOX</span>
        </h2>
        <div class="loader wow"></div>
    </div>
  </div>

  <div id="wrapper" class="light-slider">

    <!-- logo -->
    <div class="logo-wrapper">
      <h1 class="logo"><img src="{% static 'images/logo-small.png' %}" alt="My Cake Box"/> MY CAKE BOX</h1>
    </div>
    <!-- /logo -->

    <!-- navigatin icon -->
    <div class="navmenu-open">
      <a href="javascript:void(0);" id="trigger-navbar">
        <span class="icon_menu"></span>
      </a>        
    </div>
    <!-- / navigatin icon -->

    <!-- home - video presenation -->
    <section id="home" class="video presenation">
      
        <div class="overly-mask"></div>
        <div id="bg-slider" class="home-background"></div>
      
        <div class="home-text container">

         <h3>We are</h3>
            <div id="home-text-slider" class="home-carousel home-theme">
                <div class="item">
                  <div class="home-carousel-caption">
                    <h2>MyCakeBox</h2>
                    <hr>
                    <p class="text-light">A Hyper-Local Delivery System</p>
                  </div>
                </div>
                <div class="item">
                  <div class="home-carousel-caption">
                    <h2>Curators</h2>
                    <hr>
                    <p class="text-light">An Explicit Hub For Bakers</p>
                  </div>
                </div>
                <div class="item">
                  <div class="home-carousel-caption">
                    <h2>Dreamers</h2>
                    <hr>
                    <p class="text-light">Fulfilling bakers dreams</p>
                  </div>
                </div>
                <div class="item">
                  <div class="home-carousel-caption">
                    <h2>Thinkers</h2>
                    <hr>
                    <p class="text-light">Delivery Management Simplified</p>
                  </div>
                </div>
            </div>
         </div>         
      
      <div class="scroll">
            <span class="scroll-down"></span>
            <span class="scroll-text">Scroll</span>
      </div>
    </section>
    <!-- /home -->

    <!-- Main Wrapper -->
    <div id="main-wrapper">

        <!-- about -->
        <section id="about" class="section">
          <div class="container">
            <div class="row">
              <h2 class="section-title text-center">
                <span class="section-title-border wow pulse" data-wow-duration="1s" data-wow-delay="1s">ABOUT</span>
              </h2>
              <div class="section-info col-md-10 col-md-offset-1 text-center wow fadeInDown">
                <h3>We are <strong>Curators, Dreamers, Thinkers.</strong></h3>

                <ul class="hr">
                  <li class="hr-line"><span></span></li>
                  <li class="hr-icon"><i class="icon_heart_alt"></i></li>
                  <li class="hr-line"><span></span></li>
                </ul>

                <p>This system is formulated to meet bakers delivery needs. Our mission is to ensure a smile on customers and clients face with each delivery. The qualities we diligently assert within the system are</p>
              </div>
            </div>
          </div>
          <!-- about-listing -->
          <div id="about-listing">
            <div class="container">
              <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 listing-wrapper wow fadeInLeft animated" data-wow-delay="0.5s">
                  <div class="circle-point"></div>
                  <div class="post-list post-thinkers">
                    <h2 class="single-title"><i class="icon_lightbulb_alt"></i> LEADERSHIP.</h2>
                    <p>Leadership is the capacity to translate vision into reality. This vision could only be fulfilled through passion and this passion does drive within each of our team members.</p>
                    <p>No Tasks are kept unfinished:</p>
                    <ul>
                      <li>Ensure zero complaints from customers</li>
                      <li>Apply innovative and effective ways</li>
                      <li>Take ownership of task assigned</li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 listing-wrapper wow fadeInLeft animated" data-wow-delay="1s">
                  <div class="circle-point"></div>
                  <div class="post-list post-dremers">
                    <h2 class="single-title"><i class="icon_chat_alt"></i> RELIABILITY.</h2>
                    <p>We strive to acquire mutual engagement amongst our clients. Bakers can shift focus on disseminating their product popularity across Mumbai, while relying on us.</p>
                    <p>Safe and rapid delivery is our assurance:</p>
                    <ul>
                      <li>Utmost care taken with the products</li>
                      <li>Providing ease to clients</li>
                      <li>Customer tailored system</li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 listing-wrapper-last wow fadeInLeft animated" data-wow-delay="1.5s">
                  <div class="post-list post-researchers">
                    <h2 class="single-title"><i class="icon_piechart"></i> STEWARDSHIP.</h2>
                    <p>We contribute our technical skills and managerial acumen towards an organized business and in long run supporting our clients.</p>
                    <p>Responsible overseeing of products:</p>
                    <ul>
                      <li>Appliance of deft managerial skills</li>
                      <li>Responsibility of damaged products</li>
                      <li>Overall customer satisfaction</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </section>
        <!-- /about -->

        <!-- intagram -->
        <!-- <section id="intagram-feed">

          <div class="container">
            <div class="row">
              <div class="section-info col-md-10 col-md-offset-1 text-center wow fadeInDown animated">
                <h3>Delicious Grams</h3>
                <ul class="hr">
                  <li class="hr-line"><span></span></li>
                  <li class="hr-icon"><i class="social_instagram_square"></i></li>
                  <li class="hr-line"><span></span></li>
                </ul>
                <p>We Ask Question, listen, learn, #workhard, love #food and #innovate.</p>
              </div>
            </div>
          </div>

          <div class="container-fuid">
            <div class="row">
              <div id="instafeed"></div>
            </div>
          </div>
        </section> -->
        <!-- /intagram -->

        <!-- clients -->
        <section id="clients" class="section">
          <div class="container">

            <div class="row">
              <h2 class="section-title text-center">
                <span class="section-title-border wow pulse" data-wow-duration="1s" data-wow-delay="1s">Satisfied Clients</span>
              </h2>
              <div class="section-info col-md-10 col-md-offset-1 text-center wow fadeInDown">
                  <h3>Worldclass <strong>Bakers</strong> are some of our satisfied clients.</h3>
                  <ul class="hr">
                    <li class="hr-line"><span></span></li>
                    <li class="hr-icon"><i class="icon_star_alt"></i></li>
                    <li class="hr-line"><span></span></li>
                  </ul>
                  <p>As a logistics company we believe that bakers too need that privilege of getting a helping hand to manage delivery issues and no client is too big nor too small to work with us to obtain good advantage.</p>
              </div>
            </div>

            <!-- clients-listing -->
              <div id="clients-listing-wrapper">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center client-listing-1">
                    <div class="circle-point"></div>
                    <a href="javascript:void(0)" target="_blank"><img src="{% static 'images/client-logo/SS-316.png' %}" class="img-responsive brand-img wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" alt="logo-1"/></a>
                  </div>
                  
                </div>
              </div>

          </div>
        </section>
        <!-- /clients -->

        <!-- stats -->
        <section id="stats" class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 stats-project">
            <h2 class="counter text-light">530</h2>
            <p>Localities Covered</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 stats-clients">
            <h2 class="counter text-light">120</h2>
            <p>Client Base</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 stats-tweets">
            <h2 class="counter text-light">6850</h2>
            <p>Orders Delivered</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 stats-coffee">
            <h2 class="counter text-light">800</h2>
            <p>Total Riders</p>
          </div>
        </div>
        </section>
        <!-- /stats -->
        
        <!-- team -->
        <!-- <section id="team" class="section">
          <div class="container">

            <div class="row">
              <h2 class="section-title text-center">
                <span class="section-title-border wow pulse" data-wow-duration="1s" data-wow-delay="1s">Meet Our Team</span>
              </h2>
              <div class="section-info col-md-10 col-md-offset-1 text-center wow fadeInDown">
                  <h3>We'll work hard until you can't say <strong>"WOW!"</strong></h3>
                  <ul class="hr">
                    <li class="hr-line"><span></span></li>
                    <li class="hr-icon"><i class="icon_id-2"></i></li>
                    <li class="hr-line"><span></span></li>
                  </ul>
                  <p></p>
              </div>
            </div> -->

            <!-- team-listing -->
            <!-- <div class="team-listing-wrapper row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-listing wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <img class="team-media" src="images/team/team-nikhil.jpg" alt="Nikhil Shirsath"/>
                <div class="team-overlay">
                  <h3 class="team-overlay-title text-light">Nikhil Shirsath</h3>
                  <p class="team-overlay-designation">CEO / Founder</p>
                  <ul class="team-overlay-social">
                    <li><a data-scroll href="#"><span class="social_twitter"></span></a></li>
                    <li><a data-scroll href="#"><span class="social_linkedin"></span></a></li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-listing wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                <img class="team-media" src="images/team/team-hemangi.jpg" alt="Hemangi Sahare"/>
                <div class="team-overlay">
                  <h3 class="team-overlay-title text-light">Hemangi Sahare</h3>
                  <p class="team-overlay-designation">Partner</p>
                  <ul class="team-overlay-social">
                    <li><a data-scroll href="https://twitter.com/nikhil_shirsath"><span class="social_twitter"></span></a></li>
                    <li><a data-scroll href="#"><span class="social_linkedin"></span></a></li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-listing wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                <img class="team-media" src="images/team/team-minal.jpg" alt="Minal Shettigar"/>
                <div class="team-overlay">
                  <h3 class="team-overlay-title text-light">Minal Shettigar</h3>
                  <p class="team-overlay-designation">Content Writer</p>
                  <ul class="team-overlay-social">
                    <li><a data-scroll href="#"><span class="social_twitter"></span></a></li>
                    <li><a data-scroll href="#"><span class="social_linkedin"></span></a></li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-listing wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                <img class="team-media" src="images/team/team-roger.jpg" alt="Roger Cores"/>
                <div class="team-overlay">
                  <h3 class="team-overlay-title text-light">Roger Cores</h3>
                  <p class="team-overlay-designation">Android Developer</p>
                  <ul class="team-overlay-social">
                    <li><a data-scroll href="#"><span class="social_twitter"></span></a></li>
                    <li><a data-scroll href="#"><span class="social_linkedin"></span></a></li>
                  </ul>
                </div>
              </div>
            </div> -->
            <!-- /team-listing -->

          <!-- </div>
        </section> -->
        <!-- /team -->

        

        <!-- services -->
        <section id="services" class="section">
          <div class="container">

            <div class="row">
              <h2 class="section-title text-center">
                <span class="section-title-border wow pulse" data-wow-duration="1s" data-wow-delay="1s">Services</span>
              </h2>
              <div class="section-info col-md-10 col-md-offset-1 text-center wow fadeInDown">
                <h3>We transform <strong>bakers</strong> into potential entrepreneurs</h3>
                <ul class="hr">
                  <li class="hr-line"><span></span></li>
                  <li class="hr-icon"><i class="icon_adjust-vert"></i></li>
                  <li class="hr-line"><span></span></li>
                </ul>
                <p>As a delivery system designed for bakers we believe that bakery products need that extra care for delivery. By combining the expertise of delivery personnels with the managerial qualities of administrators we provide achievable results.</p>
              </div>
            </div>
            <!-- services-listing -->
            <div id="services-listing-wrapper">
                <div class="service-list row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service-box service-box-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="circle-point"></div>
                  <a href="javascript:void(0);">
                          <span class="service-icon icon_lightbulb_alt"></span>
                          <h3 class="service-title">Dynamic Rider Assignment</h3>
                          <p class="service-category">Increased Availability</p>
                          <p class="service-category">Assured Delivery</p>
                          <p class="service-category">Reduced waiting time</p>
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service-box service-box-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="circle-point"></div>
                      <a href="javascript:void(0);">
                          <span class="service-icon icon_desktop"></span>
                          <h3 class="service-title">Mobile and Web App</h3>
                          <p class="service-category">User Experience</p>
                          <p class="service-category">Cross-platform</p>
                          <p class="service-category">Usability</p>
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service-box service-box-last-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                      <a href="javascript:void(0);">
                          <span class="service-icon icon_cart_alt"></span>
                          <h3 class="service-title">On Demand Delivery</h3>
                          <p class="service-category">Discounts and Promotions</p>
                          <p class="service-category">Pay As you Go</p>
                          <p class="service-category">Unconstrained # Delivery/Day</p>
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service-box service-box-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                    <div class="circle-point"></div>
                      <a href="javascript:void(0);">
                          <span class="service-icon icon_mobile"></span>
                          <h3 class="service-title">Support</h3>
                          <p class="service-category">Problem Solving</p>
                          <p class="service-category">Technical Maintenance</p>
                          <p class="service-category">Procurement of Resources</p>
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service-box service-box-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="circle-point"></div>
                      <a href="javascript:void(0);">
                          <span class="service-icon icon_piechart"></span>
                          <h3 class="service-title">Strategy</h3>
                          <p class="service-category">Technical Consulting</p>
                          <p class="service-category">Practices Analysis</p>
                          <p class="service-category">User Interviews</p>
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service-box service-box-last-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                      <a href="javascript:void(0);">
                          <span class="service-icon icon_easel"></span>
                          <h3 class="service-title">Analytics</h3>
                          <p class="service-category">Benchmarking</p>
                          <p class="service-category">Progress Tracking</p>
                          <p class="service-category">Delivery Status</p>
                      </a>
                  </div>
                </div>
            </div>
            <!-- / services-listing -->
          </div>
        </section>
        <!-- /services -->
        
        <!-- request pro -->
        <section id="request-pro">
          <div class="container-fuid">
            <div class="row text-center">
              <h2 class="request-text">Unsure where to <span>start</span>?</h2>
              <a data-scroll="" href="#contact" class="btn btn-default btn-lg transperant-btn">GET US HELP</a>              
            </div>
          </div>
        </section>
        <!-- / request pro -->
        <!-- testimonial -->
        <!-- <section id="testimonial">          
          <div class="testimonial-wrapper" 
            data-center="background-position: 50% 0px;" 
            data-bottom-top="background-position: 50% 200px;" 
            data-top-bottom="background-position: 50% -200px;" 
            data-direction="vertical">
              <div class="text-center relative-bg">
                <div class="image-mask"></div>
                <div class="container">
                  <div class="testimonial-info row">
                      <h2 class="section-title text-center text-light">
                        <span class="section-title-border wow pulse" data-wow-duration="1s" data-wow-delay="1s">Customers Stories</span>
                      </h2>
                      <ul class="hr">
                        <li class="hr-line"><span></span></li>
                        <li class="hr-icon"><i class="icon_quotations_alt2"></i></li>
                        <li class="hr-line"><span></span></li>
                      </ul>
                      <div id="testimonial-slider" class="testimonial-carousel testimonial-theme">
                        <div class="item">
                          <div class="testimonial-carousel-caption">         
                            <blockquote class="testimonial-text">Fantastic product, my sites all run super fast and the support is excellent!<br>The website you designed helped a lot! </blockquote>
                            <img class="client-img wow flipInY" src="{% static 'images/team/team-1.jpg' %}" alt="client-1" />
                            <p class="client-name text-light">John Doe</p>
                            <p class="client-designation text-light">CEO, Apple Inc.</p>
                          </div>
                        </div>
                        <div class="item">
                          <div class="testimonial-carousel-caption">          
                            <blockquote class="testimonial-text">Fantastic product, my sites all run super fast and the support is excellent!<br>The website you designed helped a lot! </blockquote>
                            <img class="client-img wow flipInY" src="{% static 'images/team/team-2.jpg' %}" alt="client-2" />
                            <p class="client-name text-light">Jane Awesome</p>
                            <p class="client-designation text-light">CEO, BB Inc.</p>
                          </div>
                        </div>
                        <div class="item">
                          <div class="testimonial-carousel-caption">          
                            <blockquote class="testimonial-text">Fantastic product, my sites all run super fast and the support is excellent!<br>The website you designed helped a lot! </blockquote>
                            <img class="client-img wow flipInY" data-wow-duration="2s" src="{% static 'images/team/team-3.jpg' %}" alt="client-4" />
                            <p class="client-name text-light">Mickey Blueyes</p>
                            <p class="client-designation text-light">CEO, ABC Inc.</p>
                          </div>
                        </div>       
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </section> -->
        <!-- /testimonial -->


        <!-- price list-->
        <!-- <section id="price-list" class="section">
          <div class="container">
            <div class="row">
              <h2 class="section-title text-center">
                <span class="section-title-border wow pulse" data-wow-duration="1s" data-wow-delay="1s">Simple Pricing</span>
              </h2>
              <div class="section-info col-md-10 col-md-offset-1 text-center wow fadeInDown">
                  <h3>Simple Plans for <strong>Everyone!</strong>.</h3>
                  <ul class="hr">
                    <li class="hr-line"><span></span></li>
                    <li class="hr-icon"><i class="icon_calulator"></i></li>
                    <li class="hr-line"><span></span></li>
                  </ul>
                  <p>As a creative studio we believe no client is too big nor too small to work with us to obtain good advantage.</p>
              </div>            
            </div>
            <div class="price-list-wrapper row">
              <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                <div class="price-box price-box-hover text-center">
                  <p class="price-box-title">Free</p>
                  <h2><sup>$</sup><span>0</span><sub>/mo.</sub></h2>
                  <div class="price-details">              
                    <p class="price-details-line-odd"><strong>1</strong> Project</p>              
                    <p class="price-details-line-even"><strong>1</strong> Users</p>
                    <p class="price-details-line-odd"><strong>1GB</strong> Storage</p>
                    <p class="price-details-line-even"><strong>No</strong> Privileges</p>
                    <p class="price-details-line-odd"><strong>Basic</strong> Support</p>              
                  </div>
                  <a data-scroll href="#contact" class="btn btn-white transperant-btn">GET STARTED - $0</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
                <div class="price-box price-box-hover price-box-big text-center">
                  <p class="price-box-title">Professional</p>
                  <h2><sup>$</sup><span>15</span><sub>/mo.</sub></h2>
                  <div class="price-details">              
                    <p class="price-details-line-odd"><strong>100</strong> Project</p>
                    <p class="price-details-line-even"><strong>100</strong> Users</p>
                    <p class="price-details-line-odd"><strong>100GB</strong> Storage</p>
                    <p class="price-details-line-even"><strong>User</strong> Privileges</p>
                    <p class="price-details-line-odd"><strong>Priority</strong> Support</p>
                  </div>
                  <a data-scroll href="#contact" class="btn btn-white transperant-btn">GET STARTED - $15</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.3s">
                <div class="price-box price-box-hover text-center">
                  <p class="price-box-title">Team</p>
                  <h2><sup>$</sup><span>150</span><sub>/mo.</sub></h2>
                  <div class="price-details">              
                    <p class="price-details-line-odd"><strong>Unlimited</strong> Project</p>              
                    <p class="price-details-line-even"><strong>Unlimited</strong> Users</p>
                    <p class="price-details-line-odd"><strong>1000GB</strong> Storage</p>
                    <p class="price-details-line-even"><strong>User</strong> Privileges</p>
                    <p class="price-details-line-odd"><strong>Priority</strong> Support</p>              
                  </div>
                  <a data-scroll href="#contact" class="btn btn-white transperant-btn">GET STARTED - $150</a>
                </div>
              </div>
            </div>
          </div>
        </section> -->
        <!-- /price-list -->

        <!-- blog-->
        <!-- <section id="blog" class="row section">
          <div class="row">
            <h2 class="section-title text-center">
              <span class="section-title-border wow pulse" data-wow-duration="1s" data-wow-delay="1s">Our Blog</span>
            </h2>
            <div class="section-info col-md-10 col-md-offset-1 text-center wow fadeInDown">
                <h3>Get the latest from <strong>US</strong>.</h3>
                <ul class="hr">
                  <li class="hr-line"><span></span></li>
                  <li class="hr-icon"><i class="icon_pencil-edit_alt"></i></li>
                  <li class="hr-line"><span></span></li>
                </ul>
                <p>To take a trivial example, which of us ever undertakes laborious.</p>
            </div>
          </div>

          <div class="row">

            <article class="blog-post post-first text-center">              
                <header>
                  <p class="post-cat"><a href="javascript:void(0);">Agency</a></p>
                  <h2 class="post-title"><a href="javascript:void(0);">Vestibulum auctor dapibus neque</a></h2>
                </header>
                <footer>
                  <time class="post-time" datetime="2014-08-01">August 1st, 2014</time>
                  <i class="post-icon icon_circle-slelected"></i>
                  <span class="post-author">John Doe</span>
                  <i class="post-icon icon_circle-slelected"></i>
                  <span class="post-comments">No Comments</span>
                </footer>              
            </article>

            <article class="blog-post text-center">              
                <header>
                  <p class="post-cat"><a href="javascript:void(0);">Design</a></p>
                  <h2 class="post-title"><a href="javascript:void(0);">Morbi in sem quis</a></h2>
                </header>
                <footer>
                  <time class="post-time" datetime="2014-08-04">August 4th, 2014</time>
                  <i class="post-icon icon_circle-slelected"></i>
                  <span class="post-author">John Doe</span>
                  <i class="post-icon icon_circle-slelected"></i>
                  <span class="post-comments">2 Comments</span>
                </footer>              
            </article>

            <article class="blog-post blog-post-last text-center">              
                <header>
                  <p class="post-cat"><a href="javascript:void(0);">UI</a></p>
                  <h2 class="post-title"><a href="javascript:void(0);">Aliquam tincidunt mauris eu risus</a></h2>
                </header>
                <footer>
                  <time class="post-time" datetime="2014-08-12">August 12th, 2014</time>
                  <i class="post-icon icon_circle-slelected"></i>
                  <span class="post-author">Mickey Blueyes</span>
                  <i class="post-icon icon_circle-slelected"></i>
                  <span class="post-comments">5 Comments</span>
                </footer>              
            </article>

          </div>

        </section> -->
        <!-- /blog-->

        <!-- address -->
        <section id="address">
          <div class="container-fuid">
            <div class="row text-center">
              <h2 class="lts-talk wow pulse" data-wow-duration="1s" data-wow-delay="1s">Let's talk</h2>
              <h2 class="contact-no text-light">+91-9766526943</h2>
              <h3 class="email-add text-light">
                <a href="mailto:suppport@cakemporos.com" class="mailto">support@cakemporos.com</a>
              </h3>
            </div>
          </div>
        </section>
        <!-- /address -->

        <!-- contact -->
        <section id="contact" class="row section">
          <div id="container">
            <div class="row">
              <h2 class="section-title text-center">
                <span class="section-title-border wow pulse" data-wow-duration="1s" data-wow-delay="1s">Get In Touch</span>
              </h2>
              <div class="section-info col-md-10 col-md-offset-1 text-center wow fadeInDown">
                  <h3>We would love to hear from<strong> you.</strong></h3>
                  <ul class="hr">
                    <li class="hr-line"><span></span></li>
                    <li class="hr-icon"><i class="icon_mail_alt"></i></li>
                    <li class="hr-line"><span></span></li>
                  </ul>
                  <p>We welcome your inquiries at the email address below.We will get in touch with you soon.</p>
              </div>            
            </div>

            <div class="row">            
              <fieldset id="contactform" class="wow bounce" data-wow-duration="2s" data-wow-delay="0.5s">                
                <div id="form_result"></div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <input name="name" type="text" id="name" class="form-control" placeholder="Full Name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-md-offset-3">
                    <input name="email" type="text" id="email" class="form-control" value="" placeholder="Valid email ID">
                  </div>                
                  <div class="col-md-3">
                    <input name="phone" type="text" id="phone" class="form-control" value="" placeholder="Contact No">
                  </div>
                </div>
                <div class="row">         
                  <div class="col-md-6 col-md-offset-3">
                    <textarea name="message" cols="40" rows="5" id="comments" class="form-control" placeholder="Your Message"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">                    
                      <button type="submit" class="btn btn-default btn-lg" id="submit">SUBMIT</button>

                  </div>
                </div>
              </fieldset>
              <!-- </form> -->
            </div>
          </div>
        </section>
        <!-- /contact -->

        <!-- google map -->
        <section id="google-map" class="row section">
          <div id="map" data-lat="19.0830944" data-lng="72.7411157"></div>
        </section> 
        <!-- /google-map -->

        <!-- social -->
        <section id="social" class="row">
          <div class="soc-item facebook col-lg-4 col-md-4 col-sm-4">
            <a data-scroll target="_blank" href="https://www.facebook.com/cakemporos">          
              <span class="symbol social_facebook"></span>
            </a>
          </div>
          <div class="soc-item twitter col-lg-4 col-md-4 col-sm-4">
            <a data-scroll target="_blank" href="https://www.twitter.com/cakemporos">          
              <span class="symbol social_twitter"></span>
            </a>
          </div>
          <div class="soc-item instagram col-lg-4 col-md-4 col-sm-4">
            <a data-scroll target="_blank" href="https://www.instagram.com/cakemporos">          
              <span class="symbol social_instagram"></span>
            </a>
          </div>
        </section>
        <!-- /social -->

        <!-- footer -->
        <footer id="footer">
          <div class="container">
            <div class="row">
              <div class="move-up"><a data-scroll href="#home" class="arrow_carrot-2up"></a></div>
              <div class="footer-logo"><h3 class="text-light">My Cake Box</h3></div>
              <div class="footer-text">Copyright © 2016 <a href="javascript:void(0);">Powered by Cakemporos</a>. Made with <span class="icon_heart_alt"></span></div>
            </div>
          </div>
        </footer>
        <!-- /footer -->

    </div> 
    <!-- /container-fluid -->

    <!-- menu items -->
    <section id="navbar" class="navbar navbar-hugeinc">      
      <header>        
        <a href="javascript:void(0);" class="navbar-close">
        <span class="icon_close"></span></a>   
        <div class="nav-logo">          
          <h1 class="logo"><img src="{% static 'images/logo-med.png' %}" alt="logo"/>
          MyCakeBox
          </h1>          
        </div>
      </header>
      <nav>
        <ul>          
          <li>
            <a data-scroll href="#home">
              <span class="primary">Home</span>
              <span class="secondary">We are My Cake Box</span>
              <div class="heading-sep"></div>
            </a>
          </li>          
          <li>
            <a data-scroll href="#about">
              <span class="primary">About</span>
              <span class="secondary">Get to know us</span>
              <div class="heading-sep"></div>
            </a>
          </li>
          <li>
            <a data-scroll href="#clients">
              <span class="primary">Clients</span>
              <span class="secondary">See the goods</span>
              <div class="heading-sep"></div>
            </a>
          </li>
          <li>
            <a data-scroll href="#team">
              <span class="primary">Team</span> 
              <span class="secondary">People behind My Cake Box</span>
              <div class="heading-sep"></div>
            </a>
          </li>
          <li>
            <a data-scroll href="#services">
              <span class="primary">Services</span>              
              <span class="secondary">Know what we do</span>
              <div class="heading-sep"></div>
            </a>
          </li>
          <li>
            <a data-scroll href="#contact">
              <span class="primary">Contact</span>
              <span class="secondary">Get in to</span>              
            </a>
          </li>
        </ul>
      </nav>

      <!-- footer -->      
      <footer>
        <div class="nav-footer">
          <ul class="nav-footer-social-icons">
            <li><a target="_blank" data-scroll href="https://www.facebook.com/cakemporos"><span class="social_twitter"></span></a></li>
            <li><a target="_blank" data-scroll href="http://www.twitter.com/cakemporos"><span class="social_facebook"></span></a></li>
            <li><a target="_blank" data-scroll href="http://www.instagram.com/cakemporos"><span class="social_instagram"></span></a></li>
          </ul>
          <p class="nav-footer-copy">&copy; 2016 / Powered by Cakemporos</p>
        </div>
      </footer>
      <!-- / footer -->
    </section>
    <!-- / menu items -->

   
  </div>
  <!-- /wrapper -->
    {% block extra_js %}
      {% include 'all_js.html' %}
    {% endblock %}
      
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-54108712-1', 'auto');
  ga('send', 'pageview');
  </script> -->
      
    </body>
</html>