{% extends 'merchant/base.html' %}
{% block content %}
	<section class="content-header">
          <h1>
            My Account
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'merchant_dashboard' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> My Account</a></li>
          </ol>
          
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid">
				<div class="box-body">
					<h3 class="text-center">Settings Coming Soon!</h3>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}