{% extends 'merchant/base.html' %}
{% block content %}
	<section class="content-header">
          <h1>
            Contact
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'merchant_dashboard' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a></li>
          </ol>
          
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid">
				<div class="box-body text-center">
					<h3>Contact Us!</h3>
					<h5>Call Us on 9766526943</h5>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}